aws_region        = "us-east-1"
environment       = "dev"
db_name           = "shopcloud_orders"
db_username       = "shopcloud"
db_password       = "change-me-strong-password"
db_instance_class = "db.t3.micro"
redis_node_type   = "cache.t3.micro"
invoice_queue_name = "shopcloud-dev-invoice-queue"
invoice_bucket_name = "shopcloud-dev-invoices-680666325893"
ses_from_email = "noreply@shopcloud-dev.example.com"
enable_rds_multi_az = true
enable_rds_cross_region_replica = false
dr_region = "us-west-2"
enable_redis_multi_az = false
enable_private_admin_path = false
admin_vpn_server_certificate_arn = ""
admin_vpn_client_cidr = "172.20.0.0/22"
enable_secrets_architecture = false
