aws_region                          = "us-east-1"
environment                         = "prod"
db_name                             = "shopcloud_orders"
db_username                         = "shopcloud"
db_password                         = "change-me-very-strong-password"
db_instance_class                   = "db.t3.small"
redis_node_type                     = "cache.t3.small"
invoice_queue_name                  = "shopcloud-prod-invoice-queue"
invoice_bucket_name                 = "shopcloud-prod-invoices-680666325893"
ses_from_email                      = "noreply@shopcloud.example.com"
enable_rds_multi_az                 = true
enable_rds_cross_region_replica     = true
enable_redis_multi_az               = true
enable_public_edge                  = true
enable_private_admin_path           = true
enable_secrets_architecture         = true
alarm_notification_topic_arn        = "arn:aws:sns:us-east-1:123456789012:shopcloud-prod-alerts"
enable_alarm_notifications          = true
alarm_notification_emails           = ["oncall@example.com"]
