aws_region                          = "us-east-1"
environment                         = "prod"
db_name                             = "shopcloud_orders"
db_username                         = "shopcloud"
db_password                         = "change-me-very-strong-password"
db_instance_class                   = "db.t3.small"
redis_node_type                     = "cache.t3.small"
invoice_queue_name                  = "shopcloud-prod-invoice-queue"
invoice_bucket_name                 = "shopcloud-prod-invoices-680666325893"
ses_from_email                      = "noreply@shopcloud.example.com"
enable_rds_multi_az                 = true
enable_rds_cross_region_replica     = true
enable_redis_multi_az               = true
enable_public_edge                  = true
enable_public_alb                   = false
# Set this to your public ingress ALB DNS (from: kubectl get ingress public-customer ...).
public_alb_dns_name                 = ""
root_domain_name                    = "example.com"
public_hostname                     = "shop.example.com"
# Optional multi-region latency records. Keep [] for single-alias mode.
public_latency_records              = []
enable_private_admin_path                    = true
admin_vpn_server_certificate_arn             = "" # set after ACM import (server leaf + chain)
admin_vpn_client_root_certificate_chain_arn  = "" # set after ACM import (CA that signed client certs)
enable_secrets_architecture         = true
alarm_notification_topic_arn        = "arn:aws:sns:us-east-1:123456789012:shopcloud-prod-alerts"
enable_alarm_notifications          = true
alarm_notification_emails           = ["oncall@example.com"]
